{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}

<div>
    {% for item in listBasket %}
</div>


<div>
    {% item.product.description %}
</div>


{% endblock %}
